//_______________________DEFAULT________________________

// FOREGROUND COLORS
$foreground-color: #dddddd;
$foreground-color-low: #81818196;
$foreground-color-light: #d6dfe0;

//  COLORS
$midnight-blue: #9fc1df;
$midnight-blue-light: #cae2f2;
$midnight-blue-low: #1a2930;
$midnight-blue-dark: #1a2930;

$fire-engine-red: #b85043;

// FONT COLORS FOR DARK MODE
$font-light: #111;
$font-dark: #111;

// new shades
$light01: #dae2e6;
$light02: #c2cacd;
$light03: #afbabf;

$dark01: #c2c9cd;
$dark02: #9dabb2;
$dark03: #1a2930;

$font-color: #111;

$brand-color: #f55d50;

//_______________________DARK________________________
.dark-mode {
	background-color: #425368;
	a,
	p,
	div {
		color: #fff;
	}

	.main-feed,
	.side-menu-wrapper,
	.user-fans-bottom,
	.friend-suggestion,
	.navbar-main,
	.user-fans-bottom {
		transition: 0.3s ease-in-out;
		background-color: #1a2930;
	}

	.side-menu-wrapper {
		.side-menu-item:hover {
			border-left: 2px solid $midnight-blue;
		}

		.side-bar-ui-theme {
			button {
				svg {
					color: #fff;
				}
			}
		}

		.side-menu-container {
			a {
				color: #fff;
			}
		}
	}
}

// INPUT FIELD STYLE
@mixin inputStyle() {
	width: 90%;
	height: 40px;
	margin: 5px 0;
	outline: none;
	border: none;
	padding: 0 18px;
	border-radius: 5px;
	color: $midnight-blue-low;
}

// &HOVER
@mixin inputHoverEffect {
	background: none;
	border: 2px solid $midnight-blue-low;
	color: $midnight-blue-low;
	transform: scale(1.02);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.05s ease-in;
}

// BUTTON STYLE
@mixin authButtonStyle {
	width: 160px;
	height: 40px;
	border: none;
	margin-top: 20px;
	border-radius: 25px;
	font-size: 18px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $midnight-blue-light;

	p {
		margin-right: 2px;
	}
}

// &HOVER
@mixin authBtnHoverEffect {
	background: none;
	border: 2px solid $midnight-blue-low;
	color: $midnight-blue-low;
	transform: scale(1.1);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.05s ease-in;

	&:active {
		color: #004e64;
		background-color: $foreground-color-light;
	}
}
