@import "../../styles/utility_color_method.scss";

.navbar-main {
	background-color: $light01;
	height: 50px;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	box-shadow: 0 0 5px #111;
	z-index: 1;
	position: absolute;

	.left-start-part {
		width: 250px;
		display: flex;
		align-items: center;
		justify-content: center;

		.logo-brand a {
			font-family: sans-serif;
			margin-left: -100px;
			padding: 0 50px;
			display: block;
			line-height: 50px;
			text-decoration: none;
			color: $brand-color;
		}
	}

	.search-box-top {
		display: flex;
		flex-direction: row;
		align-items: center;

		img {
			width: 19px;
			height: 19px;
			position: absolute;
			margin-left: 10px;
		}

		input {
			height: 27px;
			width: 400px;
			border-radius: 50px;
			font-size: 13px;
			outline: none;
			border: none;
			padding: 0 25px;
			padding-left: 35px;
			border: 2px solid $dark01;
			color: $dark02;
		}
	}

	.right-end-part {
		width: 250px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		.nav-icon {
			cursor: pointer;

			&:hover {
				opacity: 0.7;
			}
		}

		.user-profile-avatar {
			margin-right: 30px;
			.user-profile-avatar-username {
				text-decoration: none;
				color: $font-color;
				display: block;
				cursor: pointer;

				h5 {
					background-color: $dark02;
					padding: 10px;
					border-radius: 3px;
					display: flex;
					align-items: center;
				}
				h5:hover {
					background-color: $foreground-color-low;
				}
			}
		}
	}
}
