@import "../../../styles/utility_color_method.scss";

.friend-suggestion {
	background-color: $foreground-color;
	border-radius: 10px;
	margin-top: 20px;
	box-shadow: 0 0 3px #000000;
	padding: 20px 0;

	.suggested-banner {
		padding: 20px;
		margin: 0;
	}
	.friend-suggestion-container {
		padding: 10px 20px;
		overflow-y: scroll;
		max-height: 400px;

		.suggested-friends {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			margin-bottom: 15px;

			.suggested-friend-profile {
				display: flex;
				align-items: center;
				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					margin-right: 10px;
				}
			}

			.support-btn {
				display: flex;
				align-items: center;
				justify-content: center;

				button {
					@include authButtonStyle();
					width: 70px;
					height: 25px;
					margin: 0;
					font-size: 13px;
					border-radius: 5px;
					background-color: $midnight-blue;
				}

				button:hover {
					@include authBtnHoverEffect();
				}
			}
		}
	}

	.friend-suggestion-container::-webkit-scrollbar {
		width: 3px;
		background-color: #adadad;
		border-radius: 100px;
		height: 50px;
	}
	.friend-suggestion-container::-webkit-scrollbar-thumb {
		background-color: $midnight-blue;
		border-radius: 100px;
	}
}
